# CMU Delphi Hackathon 2020: Survey Processing Machinery

This package is a submission for the CMU Delphi Hackathon held 26-28 June 2020 in partnership with the Information Networking Institute.

* Team or Individual names:
* Task attempted: [Speed|Coverage]*

To run this package, follow the default instructions in surveys/README.md (alternately: "follow these steps:")

